*{
    margin: 0;
    padding: 0;
}


header {
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: center;
}

#header>h1{
    display:inline-block
}

ul,ol{list-style:none}

nav{
    width:1024px;
    overflow:hidden;
    height:64px;
    background-color:pink;
    margin:0px auto;
    text-align: center;
}

#header>ul{display:inline-block; float: right;}
#header>ul li{float:right;padding:0 30px;line-height:40px; width: 70px; border: 2px solid white;}
#header>ul li a{
    color:blue;
    font-size: 15px;
}


#nav1>ul{display:inline-block}
#nav1>ul li{float:left;padding:0 30px;line-height:80px; width: 200px; border: 3px solid white;}

a{
    color:blueviolet;
    font-size: 20px;
}

article {
    height: 100%;
    background-color: beige;
    width: 1024px;
    margin : 0 auto;
}


#header{
    width:1024px;
    background-color: bisque;
    height: 100%;
    border-bottom: 1px solid gray;

}

#product-list {
    display:flex;
    margin-top:20px;
    flex-wrap: wrap;
    justify-content: center;

}
.product-card{
    display: flex;
    width: 450px;
    height: 450px;
    background-color: white;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px solid rgb(170,170,170)

}

.product-image{
    width:450px;
    height:300px;
}

.product-contents{
    display:flex;
    flex-direction: column;
    padding: 8px;
    justify-content: center;
}

.product-name{
    font-size:30px;
    margin-bottom:4px;
}
.product-explanation{
    font-size: 15px;
    margin-bottom:4px;
}
.product-price{
    font-size:25px;
    font-weight:600;
}

footer{
    height: 200px;
    background-color: gray;
    margin-top:20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: whitesmoke;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
