*{
    margin: 0;
    padding: 0;
}


header {
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: center;
}

#header>h1{
    display:inline-block
}

#header{
    width:1024px;
    background-color: bisque;
    height: 100%;
    border-bottom: 1px solid gray;

}

#header>ul{display:inline-block; float: right;}
#header>ul li{float:right;padding:0 30px;line-height:40px; width: 70px; border: 2px solid white;}
#header>ul li a{
    color:blue;
    font-size: 15px;
}
ul {
    list-style: none;
    padding-left: 0;
  }

  ul,ol{list-style:none}

nav{
    width:1024px;
    overflow:hidden;
    height:64px;
    background-color:pink;
    margin:0px auto;
    text-align: center;}

    #nav1>ul{display:inline-block}
    #nav1>ul li{float:left;padding:0 30px;line-height:80px; width: 200px; border: 3px solid white;}

article {
    height: 100%;
    background-color: beige;
    width: 1024px;
    margin : 0 auto;
}

#container {
    width:600px;
    margin:10px auto;
  }


#product-list {
    display:flex;
    margin-top:20px;
    flex-wrap: wrap;
    justify-content: center;

}
#menu_style{
    margin-top:10px;
}
.product-card{
    display: flex;
    width: 600px;
    height: 200px;
    background-color: white;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px solid rgb(170,170,170)

}

.product-image{
    width:200px;
    height:200px;
}


.product-contents{
    display:flex;
    flex-direction:column;
    padding: 8px;
    justify-content: center;
}
form{
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-name{
    margin-top:5px;
   
    font-size:20px;
    margin-bottom:4px;
}
.product-explanation{
    font-size: 16px;
    margin-bottom:4px;
}
.product-price{
    font-size:16px;
    font-weight:600;
    margin-bottom: 5px;
}

fieldset {
    margin-bottom: 20px;
  }



  fieldset label {
    width:120px;
    line-height: 36px;
    float:left;
    font-weight:bold;
    vertical-align: middle;
  }

  input[type="text"], input[type="password"] {
    width:300px;
    height:30px;
  }


  

  #buttons {
    width:400px;
    margin:20px auto;
    text-align: center;
  }
  #buttons input {
    width:150px;
    height:50px;
    font-size:20px;
  }
  #buttons input:hover {
    background-color:rgb(27, 134, 221);
    color:#fff;
    border-color:#fff;
  }



footer{
    height: 200px;
    background-color: gray;
    margin-top:20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: whitesmoke;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
